.header-colour {
    background-color: #FFF9F4;
}

.background-button {
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
}

.headline-colour {
    color: #FA804C;
}

.seoond-headline-colour {
    color: #363958;
}

.image-background {
    background-color: rgba(128, 128, 128, 0.514);
}